/* Font Used */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Font FAmily

  font-family: "Inter", sans-serif;*/

  /* Body Styles */

  body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
    color: white;
  }

  /* Shared Styles */

  .btn-primary{
    width: 225px;
    height: 54px;
    border: none;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
  }
  .btn-secondary{
    width: 225px;
    height: 54px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    border-radius: 42px;
    font-size: 1.1rem;
    font-weight: 600;

  }

  /* Navbar Styles */

  .navbar{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .brand{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
  }
  .menu-icon{
    width: 24px;
    height: 24px;
    visibility: hidden;
    
  }
  .item-container{
    width: 460px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
    justify-content: space-between;
  }

  ul li{
    list-style: none;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
  }

  ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
  }

  #home{
    width: 92px;
    height: 38px;
    border-radius: 46px;
    border: none;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
  }
  .header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
  }

  /* Banner STyle */

  .banner{
    width: 1100px;
     margin: 0 auto;
     display: flex;
     gap: 50px;
  }

  .banner-content{
    width: 520px;
    height: 280px;
  }

  .banner-title{
    font-size: 4.9rem;
    font-weight: 900;
  }

  .banner-description{
    color: rgba(255, 255, 255, 0.5);
  }
  .banner-img{
   margin-left: auto;
   display: flex;
   
  }

  /* Image Style */

  .trainer{
   margin-right: -150px;
  }

  .upper-box{
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-top: 400px;
    margin-left: -280px;
  }

  .lower-box{
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-right: -400px;
    margin-top: 100px;
   
  }

  .box-title{
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    
  }

  .box-description{
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 5px;
  }

  /* Habit Change Styles | Section-1 */

  .habit-change{
    width: 1070px;
    height: 452px;
    /* border: 1px solid aqua; */
    margin: 100px auto;
    text-align: center;
  }

  .section-title{
    font-size: 3rem;
    font-weight: 900;
    margin-top: 5px;
    margin-bottom: 14px;
  }
  .section-description{
    
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 50px;
  }
  .habit-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 36px;
  }

  .habit-box{
    width: 231px;
    height: 274px;
  }
  .habit-name{
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 2px;
  }
  .habit-subtitle{
    font-size: 0.87rem;
    color: rgba(255, 255, 255, 0.5);
  }
  .habit-img{
    border: 1px solid gray;
    border-radius: 50%;
  }

  /* Run-fast styles |Section-2 */

  .run-fast{
    width: 1050px;
    height: 371px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);

  }

  .run-fast-content{
    width: 443px;
    height: 290px;
    text-align: left;
    /* margin: 41px 54px; */
    margin: auto 0;
    margin-left: 54px;
    
  }

  .run-fast-image{
    width: 366px;
    height: 312px;
    margin-top: 40px;
    margin-right: 50px;
    border-radius: 18px;
    background: url(../images/run.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* BMI Calculator Styles */

  .calculator{
    margin: 76px auto;
    text-align: center;
  }
  .container{
    max-width: 1550px;
    height: 487px;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    gap: 175px;
  }
  .container-title{
    font-size: 1.75rem;
    font-weight: 900;
  }

  /* TAble Styles */
  .chart{
    width: 443px;
    height: 386px;
    text-align: left;
    margin-left: 159px;
    
  }

  table{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
  }

  td , th{
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  td{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px;
  }
  th{
    padding: 15px;
  }

  /* Form Style */
  .form{
    width: 577px;
    height: 386px;
    text-align: left;
    margin-right: 159px;
    
  }

  .container-description{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 14px;
  }

  input{
    width: 260px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    margin: 5px 5px 5px 0px;
    
  }

  #sex{
    width: 270px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 5px 5px 0px;
    
  }
  #activity{
    width: 547px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    margin: 5px 5px 5px 0px;
    
  }


  /* Responsive Styles */

  @media screen and (max-width : 576px) {
    /* body{
        padding: 20px;
    } */

    .item-container{
        display: none;
    }
    .navbar{
      width: 100%;
    }

    .banner{
        width: 100%;
        flex-direction: column;
    }
    .banner-content{
        width: 352px;
    }
    .banner-title{
        font-size: 2.25rem;
        width: 283px;

    }
    .banner-description{
        width: 274px;
    }
    .trainer{
        width: 100%;
        margin-left: 300px;
    }

    .banner-img{
        margin: 0 auto;
        /* margin-right: 5px; */
      
    }
    .btn-primary , .btn-secondary{
        width: 140px;
        height: 54px;
        margin-top: 5px;
    }

    .upper-box , .lower-box{
        width: 145px;
        height: 75px;
    }
    .upper-box{
        margin-left: 10px;
        margin-right: 200px;
    }
    .lower-box{
      margin-left: 10px;
    }
    .habit-change{
      /* width: 100%; */
    }

    .habit-container{
      grid-template-columns: repeat(1,1fr);
      gap: 36px;
      
    }
    .habit-box{
      margin: 0 auto;
      margin-bottom: 30px;
    }
    .section-title{
      font-size: 2rem;
      font-weight: 900;
    }
    .section-description{
      width: 270px;
      font-size: 0.875rem;
    }
    .habit-subtitle{
      margin-bottom: 36px;
    }

    .run-fast{
      flex-direction: column;
      width: 100%;
      height: 531px;
      border-radius: 18px;
      background: rgb(34, 34, 34);
      margin-left: 0;
      text-align: center;
      
    }
    .run-fast-image{
      width: 287px;
      height: 170px;
      margin: 0 auto;
      margin-bottom: 35px;
      
    }
    #run{
      width: 287px;
      margin: 0 auto;
      margin-right: 33px;
    }
    .habit-change{
      z-index: 1;
    }

  .container{
    flex-direction: column;
    width: 394px;
    height: 782px;
    margin: 0 auto;
    gap: 30px;
    
  }

  .chart{
    width: 100%;
    margin: 0 auto;
    padding: 20px;

    
  }

  .form{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .container-title{
    font-size: 1rem;
  }

  input{
    width: 160px;
    height: 45px;
  }

  #sex{
    width: 165px;
    height: 45px;

  }
  
  #activity{
    width: 348px;
    height: 45px;
  }


  }